.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  z-index: 9999;
  overflow: hidden;


  h2 {
    font-size: 2rem;
    font-weight: 500;
    position: relative;
  }
}
