@use "./variables" as *;
@use "./components/navbar" as *;
@use "./components/loader" as *;
@use "./components/sections" as *;
@use "./responsive" as *;
@use "./components/home" as *;
@use "./components/about" as *;
@use "./components/projects" as*;
@use "./components/skills" as*;
@use "./components/contact" as*;

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif !important;
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background 0.4s ease, color 0.4s ease !important;
}

.section {
  height: 100vh;
  box-sizing: border-box;
  // padding: 20px;
  width: 100%;
}
.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-container{
  height: 100Vh;
  width: 100%;
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.gradient-blinds-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// .light-rays-container {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   pointer-events: none;
//   z-index: 3;
//   overflow: hidden;
// }


// .Typewriter__wrapper {
//     color: rgb(117, 0, 250) !important;
//     font-size: 2.2em !important;
//     font-weight: 600 !important;
// }
 .w-100{
  width: 100%;
 }
.justify-spaceeven{
  justify-content: space-evenly;
}

.particles-bglayout{
  width: 100%;
  height: 100%;
  position: absolute !important;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.particles-bglayout canvas{
  position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70% !important;
  height: 70% !important;
  z-index: 0;
}