@use "./variables" as *;
@use "./components/navbar" as *;
@use "./components/loader" as *;
@use "./components/sections" as *;
@use "./responsive" as *;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.4s ease, color 0.4s ease;
}

.section {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 20px;
  width: 100%;
}
.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg-container{
  height: 100Vh;
  width: 100%;
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}
