@use "./variables" as *;
@use "./components/navbar" as *;
@use "./components/loader" as *;
@use "./components/sections" as *;
@use "./responsive" as *;
@use "./components/home" as *;
@use "./components/about" as *;

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif !important;
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background 0.4s ease, color 0.4s ease !important;
}

.section {
  height: 100vh;
  box-sizing: border-box;
  // padding: 20px;
  width: 100%;
}
.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-container{
  height: 100Vh;
  width: 100%;
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.Typewriter__wrapper {
    color: rgb(117, 0, 250) !important;
    font-size: 2.2em !important;
    font-weight: 600 !important;
}
 .w-100{
  width: 100%;
 }
.justify-spaceeven{
  justify-content: space-evenly;
}